/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

body {
    background-color: #b2bec3;
}
.ramecek {
    margin: 150px auto;
	width: 550px;
    background-color: #fff; 
    box-shadow: 10px 10px 10px grey;
    border-radius: 10px;
    font-family: 'Nunito', sans-serif;
	position: relative;
    }

.ramecek img {
    width: 150px;
    border: 3px solid #fff;
    border-radius: 50%;
    position: absolute;
    top: -75px;
    left: 475px;
}    
.ramecek h1 {
    color: #d63031;
    font-size: 36px;
    font-weight: bold;
}

.ramecek p {
    font-size: 18px;
}


/*
BARVY:

tlačítko Twitter:					 #1da1f2
tlačítko Twitter aktivní:	 #0b7bc1

tlačítko Facebook:				 #3b5998
tlačítko Facebook aktivní: #2b406e
*/

